/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

.purple {
    background-color: #540B51;
    padding: 0;
    margin: 0, auto;
    display: flex;
}

.ivory {
    background-color: #F3EAE2;
    display: flex;
}

.white {
    color: white;
}

.yellow {
    color:yellow;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin: 0 auto;
    width: 98%;
}

.content {
    display: flex;
    flex-direction: row; 
}

.screen-shots {
    width: 50%;   
}
.sales-team{
    width: 90%;
}

.huddle{
    width: 90%;
}

.aceme{
    width: 90%;
}

.teamwork{
    display: flex;
    flex-direction: column;
}

.logos{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
    line-height: 1.5;
}

#social-icons{
    flex-direction: left;
    display:flex;
    justify-content: space-evenly;
}




a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

@media (max-width: 768px) {
    
    a[href*="#1"] {
        color: #540B51;
      }

      
  }

@media (min-width: 768px) and (max-width: 1024px) {
    
    a[href*="#1"] {
        color: #540B51;
      }
  }

@media (min-width: 1024px) and (max-width: 1440px) {
    
    a[href*="#1"] {
        color: #ffffff;
      }
  }